.trash-type {
  aspect-ratio: 1/1;
  width: 50px;
}

.trash-type .icon {
  width: 100%;
  height: 100%;
}

.trash-type-selection button.escooter.active {
  background-color: var(--escooter-color);
  color: var(--escooter-color-text);
}

.trash-type-selection button.bulk.active {
  background-color: var(--bulk-color);
  color: var(--bulk-color-text);
}

.trash-type-selection button.litter.active {
  background-color: var(--litter-color);
  color: var(--litter-color-text);
}

.trash-type-selection button.other.active {
  background-color: var(--other-color);
  color: var(--other-color-text);
}
