.trash-card {
  max-height: calc(100vh - 50px - 4rem);
}

.trash-card .card-header {
  width: 100%;
  height: auto;
  background-color: #bebebe;
}

.trash-card .card-header.no-photos {
  aspect-ratio: 2/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
}

.trash-card .card-header.one-photo {
  aspect-ratio: 3/1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
}

.trash-card .card-header.two-photos {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  overflow: hidden;
}

.trash-card .photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.trash-card .photo-container img {
  object-fit: cover;
}

.trash-card .photo-container img.landscape {
  width: 100%;
  height: auto;
}

.trash-card .photo-container img.portrait {
  width: auto;
  height: 100%;
}

.trash-card .id {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fjordcleanup-color);
  color: var(--fjordcleanup-color-text);
  font-weight: bold;
  height: 50px;
}

.trash-card .card-body .description {
}

.trash-card .card-body .description .description-body {
  max-height: 25vh;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  overflow-x: hidden;
}
